<div class="showcase" >
  <% site.data.sectiontypes.find(sectiontype => { %>
    <div class="showcase__item">
      <figure class="card">
        <a href="/<%= sectiontype.slug %>" class="card__image">
          <img src="<%= sectiontype.coverImage %>">
        </a>
        <figcaption class="card__caption">
          <h6 class="card__title">
            <a href="<%= sectiontype.path %>"><%= sectiontype.title %></a>
          </h6>
        </figcaption>
      </figure>
    </div>
  <% }) %>
</div>
